# Скопируй этот файл, переименуй в .env, вставь свои значения

# Пароль от PostgreSQL (тот что вводил при установке)
DATABASE_URL=postgresql://postgres:ВАШ_ПАРОЛЬ@localhost/eventhub_db

# Любая длинная случайная строка для подписи JWT токенов
SECRET_KEY=придумайте_длинную_строку_минимум_32_символа

# Алгоритм JWT — не меняй
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

